CompileFlags:
  CompilationDatabase: >-
    c:\Users\Ben\Documents\GitHub\ITS-BRD-VSC\Programs\Taschenrechner\out\Taschenrechner\ITSboard\Debug
  Add:
    - >-
      -IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/../../stm32cubef4/Utilities/Fonts
    - >-
      -IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/../../DisplayWaveshare/Inc
    - >-
      -IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/../../ITS_BRD_LIB/Utilities/AddFonts
    - >-
      -IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/tmp/Taschenrechner.Debug+ITSboard
    - >-
      -IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/RTE/_Debug_ITSboard
    - '-IC:/Users/Ben/AppData/Local/arm/packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include'
    - >-
      -IC:/Users/Ben/AppData/Local/arm/packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/../../ITS_BRD_LIB/Inc
    - '-IC:/Users/Ben/Documents/GitHub/ITS-BRD-VSC/Programs/Taschenrechner/Inc'
